{% extends "base.html" %}

{% block hed %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock %}

{% block navigate %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Выйти из аккаунта</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_job">Добавление работы</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/add_department">Добавление департамента</a>
        </li>
      <li class="nav-item">
            <a class="nav-link" href="/department_list">Список департаментов <span class="sr-only">(current)</span></a>
        </li>
    </ul>
  </div>
</nav>
<p></p>
{% endblock %}

{% block content %}
{% for department in list %}
<h1>Department #{{department.id}}</h1>
<table>
    <thead>
    <tr>
        <td>Title of department</td>
        <td>Chief</td>
        <td>Members</td>
        <td>Department Email</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{department.title}}</td>
            <td>{{department.chief}}</td>
            <td>{{department.members}}</td>
            <td>{{department.email}}</td>
        </tr>
    </tbody>
</table>
<div class="parent">
        <div class="child">
            <a class="btn btn-warning" href="/edit_department/{{ department.id }}">Edit</a>
        </div>
        <div class="child">
            <a class="btn btn-danger" href="/confirm_dep/{{ department.id }}">Delete</a>
        </div>
</div>
{% endfor %}
{% endblock %}
