{% extends "base.html" %}

{% block hed %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock %}

{% block navigate %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Выйти из аккаунта</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_job">Добавление работы</a>
      </li>
    </ul>
  </div>
</nav>
<p></p>
{% endblock %}

{% block content %}
{% for job in list %}
<h1>Job #{{job.id}}</h1>
<table>
    <thead>
    <tr>
        <td>Title of activity</td>
        <td>team leader</td>
        <td>Duration</td>
        <td>List of collaborators</td>
        <td>Is finished</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{job.job}}</td>
            <td>{{job.team_leader}}</td>
            <td>{{job.work_size}}</td>
            <td>{{job.collaborators}}</td>
            {% if job.is_finished %}
            <td class="finished">Is finished</td>
            {% else %}
            <td class="not_finished">Is not finished</td>
            {% endif %}
        </tr>
    </tbody>
</table>
{% if current_user.id == job.team_leader or current_user.id == 16 %}
<div class="parent">
        <div class="child">
            <a class="btn btn-warning" href="/edit_job/{{ job.id }}">Edit</a>
        </div>
        <div class="child">
            <a class="btn btn-danger" href="/confirm/{{ job.id }}">Delete</a>
        </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
